:root {
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --max-width: 1200px;
    --main-padding: 30px;
}

@font-face {
    font-family: Rubik;
    src: url(./fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

